[submodule "MPV"]
	path = .local/config/mpv
	url = https://github.com/zydezu/mpvconfig
	branch = main
	shallow = true

[submodule "OhMyZsh"]
	path = .local/config/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
	shallow = true