KERNEL=="zram0",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="32768M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram0",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram1",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram2",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram3",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram4",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram5",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram6",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram7",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram8",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram9",  SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram10", SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram11", SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram12", SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram13", SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram14", SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
#KERNEL=="zram15", SUBSYSTEM=="block", ACTION=="add", ATTR{disksize}="2048M", ATTR{comp_algorithm}="zstd", RUN+="/usr/bin/mkswap $env{DEVNAME}", TAG+="systemd"
